<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="../../static/Bootstrap/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">AskPupkin</a>


            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <a href="{% url 'ask' %}" style="text-decoration: none; color: inherit;">
                    Ask
                    </a>
                </button>
            </form>

            <div class="d-flex gap-3 align-items-center">
                    <a class="links__settings" href="{% url 'login' %}">Log in</a>
                    <a class="links__logout ml-3" href="{% url 'register' %}">Register</a>
            </div>


        </div>
      </nav>

      <main class="container">
        <div class="row mt-2">
          <section class="col-8 vh-100">

            {% block content %}
            <!-- Блок для нового кода -->
            {% endblock %}

          </section>

          <aside class="col-4 vh-100">
            <section class="mt-5">
                <h2>Popular tags</h2>
                <div>
                    <span class="badge text-bg-primary">
                        <a href="{% url 'tag' 'math' %}" style="text-decoration: none; color: inherit;">math</a>
                    </span>
                    <span class="badge text-bg-secondary" >
                        <a href="{% url 'tag' 'IT' %}" style="text-decoration: none; color: inherit;">
                        IT
                        </a>
                    </span>
                    <span class="badge text-bg-success">
                        <a href="{% url 'tag' 'cooking' %}" style="text-decoration: none; color: inherit;">
                        cooking
                        </a>
                    </span>
                    <span class="badge text-bg-danger">
                        <a href="{% url 'tag' 'promting' %}" style="text-decoration: none; color: inherit;">
                        promting
                        </a>
                    </span>
                    <span class="badge text-bg-warning">
                        <a href="{% url 'tag' 'electronics' %}" style="text-decoration: none; color: inherit;">
                        electronics
                        </a>
                    </span>
                    <span class="badge text-bg-info">
                        <a href="{% url 'tag' 'laws' %}" style="text-decoration: none; color: inherit;">
                        laws
                        </a>
                    </span>
                    <span class="badge text-bg-light">
                        <a href="{% url 'tag' 'sport' %}" style="text-decoration: none; color: inherit;">
                        sport
                        </a>
                    </span>
                    <span class="badge text-bg-dark" href="{% url 'tag' 'health' %}">
                        <a href="{% url 'tag' 'health' %}" style="text-decoration: none; color: inherit;">
                        health
                        </a>
                    </span>
                </div>
            </section>
            <section class="mt-5">
                <h2>Best members:</h2>
                <div>
                    <a class="d-block mt-1" href="#">Member</a>
                    <a class="d-block mt-1" href="#">Mememember</a>
                    <a class="d-block mt-1" href="#">David</a>
                    <a class="d-block mt-1" href="#">VK_admin</a>
                    <a class="d-block mt-1" href="#">BMSTU_botanik</a>
                </div>
            </section>
          </aside>
        </div>
      </main>
    <script src="../../static/Bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>