{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Askme_VDA</title>
    <link href="{% static '/Bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  </head>
  <body>
    <!-- Навигационная панель -->
    {% if is_authenticated %}
      {% include 'components/base_reg_nav.html' %}
    {% else %}
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">Askme_VDA</a>
          <form class="d-flex" role="search">

            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">
              <a href="{% url 'ask' %}" style="text-decoration: none; color: inherit;">
                Ask
              </a>
            </button>
          </form>
          <div class="d-flex gap-3 align-items-center">
            <a class="links__settings" href="{% url 'login' %}">Log in</a>
            <a class="links__logout ml-3" href="{% url 'register' %}">Register</a>
          </div>
        </div>
      </nav>
    {% endif %}

    <!-- Основной контент -->
    <main class="container">
      <div class="row mt-2">
        <section class="col-8 vh-100">
          {% block content %}
          <!-- Блок для нового кода -->
          {% endblock %}
        </section>

        <!-- Боковая панель -->
        <aside class="col-4 vh-100">
          <section class="mt-5">
            <h2>Popular tags</h2>
            <div>
              {% for tag in popular_tags %}
                <span class="badge text-bg-primary">
                  <a href="{% url 'tag' tag.name %}" style="text-decoration: none; color: inherit;">
                    {{ tag.name }}
                  </a>
                </span>
              {% endfor %}
            </div>
          </section>
          <section class="mt-5">
            <h2>Best members:</h2>
            <div>
              <a class="d-block mt-1" href="#">Member</a>
              <a class="d-block mt-1" href="#">Mememember</a>
              <a class="d-block mt-1" href="#">David</a>
              <a class="d-block mt-1" href="#">VK_admin</a>
              <a class="d-block mt-1" href="#">BMSTU_botanik</a>
            </div>
          </section>
        </aside>
      </div>
    </main>

    <script src={% static "Bootstrap/js/bootstrap.bundle.js" %}></script>
    <script src="{% static 'app.js' %}"></script>
  </body>
</html>