{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
            <!-- Секция с начинкой страницы -->

            <div class="d-flex align-items-center gap-2 mb-3">
                <h1>New Question</h1>
            </div>

            <p>Whoops, an error!</p>

            <div class="mb-2 row">
                <label for="staticTitle" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="staticTitle" rows="1"></textarea>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticText" class="col-sm-2 col-form-label">Text</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="staticText" rows="15"></textarea>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticText" class="col-sm-2 col-form-label">Tags</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="staticText" rows="1"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col mt-4">
                    <button type="button" class="btn btn-outline-secondary">Ask</button>
                </div>
            </div>
            

          </section>

{% endblock %}