{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
            <!-- Секция с начинкой страницы -->

            <div class="d-flex align-items-center gap-2 mb-3">
                <h1>New Question</h1>
            </div>
            <form class="mt-4" method="POST">
                    {% csrf_token %}
                    {%  bootstrap_form form %}

                <div class="col mt-4">
                       <button type="submit" class="btn btn-outline-secondary">Ask</button>
                </div>
            <form>

{% endblock %}