<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="../static/Bootstrap/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="index.html">AskPupkin</a>

            
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Ask</button>
            </form>

            <div class="d-flex gap-3 align-items-center">
              <div class="account__image">
                  <img  src="hello.jpg" alt="Account image">
              </div>
              <div class="account__block">
                  <div class="account__name">Name</div>
                  <div class="account__links d-flex gap-3">
                      <a class="links__settings" href="#">Settings</a>
                      <a class="links__logout" href="#">Log out</a>
                  </div>
              </div>
            </div>
            
          
        </div>
      </nav>

      <main class="container">
        <div class="row mt-2">
          <section class="col-8 vh-100">
            <div class="d-flex align-items-center gap-2 mb-3">
                <h1>New Questions</h1>
                <a href="#" style="font-size: 15pt;">Hot Questions</a>
            </div>

            <articles class="d-flex gap-3 flex-column">

                <div class="card mt-4" style="width: 50rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 m-2" >
                                <div class=" border" style="height: 100px;">
                                <img src="#" alt="img" class="img-thumbnail">
                                </div>
                                <div class="row mt-2">
                                    <div class="col-9">
                                        <form>
                                            <button style="border: 0px; background: none; width: 30px; padding: 0;">
                                                <img src="../static/img/like.png" style="width: 35px; height: 20px;">
                                            </button>
                                            <button style="border: 0px; background: none; width: 30px; padding: 0;">
                                                <img src="../static/img/dislike.png" style="width: 35px; height: 20px;">
                                            </button>
                                        </form>
                                    </div>
                                    <div style="padding-left: 0; border: 3px;" class="col">
                                        <p style="color: green; left: -10px; position: relative;">+4</p>
                                    </div>
                                </div>
                                <!-- <div>
                                    <input type="number" class="form-control" value="5" disabled>
                                </div> -->
                            </div>

                            <div class="col">
                                <h3 class="card-title">Card title</h3>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="row">
                                    <div class="col-3">
                                        <a class="card-link" href="#">Answer (3)</a>
                                    </div>
                                    <div class="col right">
                                        <span>Tags:</span>
                                        <a href="#" class="card-link">Card link</a>
                                        <a href="#" class="card-link">Another link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="card mt-4" style="width: 50rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 m-2" >
                                <div class=" border" style="height: 100px;">
                                <img src="#" alt="img" class="img-thumbnail">
                                </div>
                                <div class="row mt-2">
                                    <div class="col-9">
                                        <form>
                                            <button style="border: 0px; background: none; width: 30px; padding: 0;">
                                                <img src="../static/img/like.png" style="width: 35px; height: 20px;">
                                            </button>
                                            <button style="border: 0px; background: none; width: 30px; padding: 0;">
                                                <img src="../static/img/dislike.png" style="width: 35px; height: 20px;">
                                            </button>
                                        </form>
                                    </div>
                                    <div style="padding-left: 0; border: 3px;" class="col">
                                        <p style="color: green; left: -10px; position: relative;">+2</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <h3 class="card-title">Card title</h3>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="row">
                                    <div class="col-3">
                                        <a class="card-link" href="#">Answer (3)</a>
                                    </div>
                                    <div class="col right">
                                        <span>Tags:</span>
                                        <a href="#" class="card-link">Card link</a>
                                        <a href="#" class="card-link">Another link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="card mt-4" style="width: 50rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 m-2" >
                                <div class=" border" style="height: 100px;">
                                <img src="#" alt="img" class="img-thumbnail">
                                </div>
                                <div class="row mt-2">
                                    <div class="col-9">
                                        <form>
                                            <button style="border: 0px; background: none; width: 30px; padding: 0;">
                                                <img src="../static/img/like.png" style="width: 35px; height: 20px;">
                                            </button>
                                            <button style="border: 0px; background: none; width: 30px; padding: 0;">
                                                <img src="../static/img/dislike.png" style="width: 35px; height: 20px;">
                                            </button>
                                        </form>
                                    </div>
                                    <div style="padding-left: 0; border: 3px;" class="col">
                                        <p style="color: red; left: -10px; position: relative;">-3</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <h3 class="card-title">Card title</h3>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="row">
                                    <div class="col-3">
                                        <a class="card-link" href="#">Answer (3)</a>
                                    </div>
                                    <div class="col right">
                                        <span>Tags:</span>
                                        <a href="#" class="card-link">Card link</a>
                                        <a href="#" class="card-link">Another link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>
              </articles>

          </section>

          <aside class="col-4 vh-100">
            <section class="mt-5">
                <h2>Popular tags</h3>
                <div>
                    <span class="badge text-bg-primary">Primary</span>
                    <span class="badge text-bg-secondary">Secondary</span>
                    <span class="badge text-bg-success">Success</span>
                    <span class="badge text-bg-danger">Danger</span>
                    <span class="badge text-bg-warning">Warning</span>
                    <span class="badge text-bg-info">Info</span>
                    <span class="badge text-bg-light">Light</span>
                    <span class="badge text-bg-dark">Dark</span>
                </div>
            </section>
            <section class="mt-5">
                <h2>Best members:</h3>
                <div>
                    <a class="d-block mt-1" href="#">Member</a>
                    <a class="d-block mt-1" href="#">Mememember</a>
                    <a class="d-block mt-1" href="#">David</a>
                    <a class="d-block mt-1" href="#">VK_admin</a>
                    <a class="d-block mt-1" href="#">BMSTU_botanik</a>
                </div>
            </section>
          </aside>
        </div>
      </main>
    <script src="../static/Bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>