{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

            <!-- Блок вопроса -->
            <div class="row mt-4">
                <div class="col-3">
                    <div class="border" style="height: 200px;">
                        <img src="#" alt="img" class="img-thumbnail">
                    </div>
                    <div class="row mt-2">
                      <div class="col-9">
                          <form>
                              <button style="border: 0; background: none; width: 30px; padding: 0;">
                                  <img src="../static/img/like.png" style="width: 35px; height: 20px;" alt="like">
                              </button>
                              <button style="border: 0; background: none; width: 30px; padding: 0;">
                                  <img src="../static/img/dislike.png" style="width: 35px; height: 20px;" alt="dislike">
                              </button>
                          </form>
                      </div>
                      <div style="padding-left: 0; border: 3px;" class="col">
                          <p style="color: green; left: -10px; position: relative;">+4</p>
                      </div>
                  </div>
                </div>
                
                <div class="card col" style="border: 0;">
                      <h2 class="card-title">{{ question.title }}</h2>
                      <p class="card-text">{{ question.text }}</p>
                        <div class="right">
                        <span>Tags:</span>
                            {% for tag in question.tags %}
                                <a href="{% url 'tag' tag %}" class="card-link"> {{ tag }}</a>
                            {% endfor %}
                        </div>
                </div>
                <hr class="my-4">
            </div>
            
            <!-- Карточки ответов -->
            <div>
                {% for answer in answers %}
                    {% include 'layouts/answer.html' %}
                {% endfor %}
{#                тут должен быть ответ а не вопрос TODO!#}

              {% include 'layouts/pagination.html' %}

              <hr class="my-4">

            </div>
            <div>
                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlInput1" placeholder="Enter your answer" rows="4"></textarea>
                </div>
                
                <div>
                    <button type="button" class="btn btn-secondary">Answer</button>
                </div>
            </div>

{% endblock %}