{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}

            <div class="d-flex align-items-center gap-3 mt-4">
                <h1>Registration</h1>
            </div>

            <form class="mt-4" method="POST" enctype="multipart/form-data"> <!-- Добавлено -->
                <div class="mb-3 row">
                    {% csrf_token %}
                    {%  bootstrap_form form %}

                    <div>
                      <button type="submit" class="btn btn-outline-secondary mt-3">
                            Save
                      </button>
                    </div>

                    </div>
              </form>

{% endblock %}