{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
            <div class="d-flex align-items-center gap-3 mt-4">
                <h1>Settings: Mr. Shubin</h1>
            </div>

            <div class="mt-4">
                <div class="mb-3 row">
                    <label for="staticLogin" class="col-sm-2 col-form-label">Login</label>
                    <div class="col-sm-5">
                    <textarea class="form-control" id="staticLogin" rows="1"></textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" id="staticEmail" rows="1"></textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticNickName" class="col-sm-2 col-form-label">NickName</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" id="staticNickName" rows="1"></textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Upload Avatar</label>
                    <div class="col-sm-5">
                        <div class=" border" style="height: 170px; width: 170px;">
                            <img src="#" alt="img" class="img-thumbnail">
                        </div>
                        <div class="row">
                            <div class="mt-3">
                                <input class="form-control" type="file" id="formFile">
                              </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-secondary mt-3">Upload</button>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}