{% load static %}

<div class="card mt-4" style="width: 50rem;">

        <div class="card-body">
            <div class="row">
                <div class="col-2 m-2" >
                    <div class=" border" style="height: 100px;">
                    <img src="#" alt="img" class="img-thumbnail">
                    </div>
                    <div class="row mt-2">
                        <div class="col-9">
                            <form>
                                <button style="border: 0px; background: none; width: 30px; padding: 0;">
                                    <img src="../static/img/like.png" style="width: 35px; height: 20px;">
                                </button>
                                <button style="border: 0px; background: none; width: 30px; padding: 0;">
                                    <img src="../static/img/dislike.png" style="width: 35px; height: 20px;">
                                </button>
                            </form>
                        </div>
                        <div style="padding-left: 0; border: 3px;" class="col">
                            <p style="color: green; left: -10px; position: relative;">{{ answer.likes }}</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <p class="card-text">{{ answer.text }}</p>
                    <form class="mb-4">
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Correct!</label>
                          </div>

                    </form>
                </div>
            </div>
        </div>
      </div>