{% load static %}

<div class="card mt-4" style="width: 50rem;">

        <div class="card-body">
            <div class="row">
                <div class="col-2 m-2" >
                    <div class="border" style="height: 100px;">
                        {% if question.author.profile.avatar %}
                            <img src="{{ question.author.profile.avatar.url }}"
                                 alt="Avatar"
                                 class="img-thumbnail h-100 w-100 object-fit-cover">
                        {% else %}
                            <div class="h-100 w-100 bg-light d-flex align-items-center justify-content-center">
                                <span class="text-muted">No image</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row mt-2">
                        <div class="col-9">
                            <button
                                     style="border: 0px; background: none; width: 30px; padding: 0;"
                                data-question-id="{{ question.id }}"
                                data-action-type="like"
                                class="btn-like">
                                <img src="{% static '/img/like.png' %}" style="width: 35px; height: 20px;">
                            </button>
                            <button
                                     style="border: 0px; background: none; width: 30px; padding: 0;"
                                data-question-id="{{ question.id }}"
                                data-action-type="dislike"
                                class="btn-dislike">
                                <img src="{% static '/img/dislike.png' %}" style="width: 35px; height: 20px;">
                            </button>
                        </div>
                        <div style="padding-left: 0; margin-top: 3px; margin-left: 0px" class="col">
                            <p style="left: 0px; position: relative; margin-top: -3px"
                            data-total-likes="{{ question.id }}">
                                {{ question.total_likes }}</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h3 class="card-title">
                        <a href="{% url "question" question.id %}">{{ question.title }}</a>
                    </h3>
                    <p class="card-text">{{ question.text }}</p>
                    <div class="row">
                        <div class="col-3">
                            <a class="card-link" href="{% url "question" question.id %}">Answer ({{ question.answers.count }})</a>
                        </div>
                        <div class="col right">
                            <span>Tags:</span>
                            {% for tag in question.tags.all %}
                                <a href="{% url 'tag' tag.name %}" class="card-link"> {{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>